footer.footer {
    width: 100%;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #ffffffb6;
    backdrop-filter: blur(1px);

    > ul {
        width: 100%;
        height: 100px;

        display: flex;
        justify-content: flex-end;
        gap: 20px;
        align-items: center;

        padding: 0 40px;

        > li {
            width: 110px;
            height: 40px;

            > a {
                width: 100%;
                height: 100%;

                > img {
                    width: 100%;
                    height: 100%;
                }
            }

            &:last-child {
                transform: scale(70%);
            }
        }
    }
}